# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Build
out/
dist/
*.vsix
*.tsbuildinfo

# IDE
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db
*.log

# Tests
coverage/
.vscode-test/
/tmp
